<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script/script.js"></script>
</head>
<body>
    <div class="main">
     <header>
      <h1>MOVIES</h1>
      <button class="botao" id="botaorecomendacao">
        Novo recomendação 
        <div class="image">
            <img src="../assets/elipseraio.svg" class="imgelipse">
            <img src="../assets/raio.svg" class="imgraio">
        </div>
       </button>
     </header>
    
     <section class="films">
        
        <article class="film2">
               
            <div class="filme-info">
                
                <h2 class="nomefilme0"> </h2>
                <div class="rating">
                    <img src="../assets/estrela.svg" alt="estrela2" class="estrela2">
                    <h3 class="score0"> </h3>
                </div>
                
            </div>
            <img src="" alt="" class="img0">

        </article>
        
        
           
        <article class="film3">
               
                <div class="filme-info1">
                    
                    <h2 class="nomefilme1"> </h2>
                    <div class="rating">
                        <img src="../assets/estrela.svg" alt="estrela2" class="estrela2">
                        <h3 class="score1"> </h3>
                    </div>
                
                </div>
                <img src="" alt="" class="img1">

        </article>
         

        
            
        <article class="film4">
               
                <div class="filme-info2">
                    
                    <h2 class="nomefilme2"> </h2>
                    <div class="rating">
                        <img src="../assets/estrela.svg" alt="estrela2" class="estrela2">
                        <h3 class="score2"> </h3>
                    </div>                
                </div>
                <img src="" alt="" class="img2">
            
        </article>
      
     </section>
    
    </div>
</body>
</html>
